*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url("background.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.container{
    width: 100vw;
}


.image--dog{ 
    height: auto;
    cursor: pointer;
    width: 23%;
    position: absolute;
    bottom: 0;
}
.fas, .fab{
    font-size: 70px;
    position: absolute;
}
.fa-bone{
    color: rgb(88, 49, 49);
    left: 70%;
    top: -100px;
    transition:3s linear;
}
.fa-spider{
    color: rgb(65, 58, 58);
    left: 2%;
    top: -100px;
    transition:3s  linear;
}
.fa-hotdog{
    color: rgb(233, 167, 27);
    left: 79%;
    top: -100px;
    transition:3s  linear;
}
.fa-fish{
    color: rgb(67, 67, 238);
    left: 48%;
    top: -100px;
    transition:3s  linear;
}
.fa-bomb{
    color: rgb(155, 0, 0);
    left: 90%;
    top: -100px;
    transition:3s  linear;
}
.fa-pizza-slice{
    color: rgba(255, 0, 179, 0.952);
    left: 12%;
    top: -100px;
    transition:3s  linear;
}
.fa-apple-alt{
    color: rgb(38, 230, 38);
    left: 30%;
    top: -100px;
    transition:3s  linear;
}
.fa-hammer{
    left: 25%;
    top: -100px;
    transition:3s  linear;
}
.fa-hamburger{
    color: #bb8640;
    top: -100px;
    left: 36%;
    transition: 3s linear;
}
.fa-football-ball{
    color: rgb(99, 50, 50);
    top: -100px;
    left: 9%;
    transition: 3s  linear;
}
    .fa-stamp{
        color: rgb(49, 49, 49);
        top: -100px;
        left: 70%;
        transition: 3s  linear; 
    }
    .fa-cheese{
        color: rgb(245, 226, 56);
        top: -100px;
        left: 42%;
        transition: 3s linear; 
    }
    .fa-carrot{
        left: 60%;
        color: rgb(255, 136, 0);
        top: -100px;
        transition: 3s linear; 
    }
    .fa-fort-awesome{
        left: 83%;
        color: rgb(120, 42, 172);
        top: -100px;
        transition: 3s linear; 
    }
    .fa-ice-cream{
        left: 74%;
        color: rgb(216, 152, 200);
        top: -100px;
        transition: 3s  linear; 
    }
    .fa-puzzle-piece{
        left: 55%;
        color: rgb(186, 211, 128);
        top: -100px;
        transition: 3s  linear; 
    }
    .fas.active,
    .fab.active{
        top: 100%;
    }
.food{
    width: 100vw;
}
.main--button{
    display: flex;
}
.startButton{
    font-size: 45px;
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 200px);
    transform: (-50%, -50%);
    padding: 40px;
    background-color: rgb(219, 255, 253);
    text-transform: uppercase;
    color: rgb(233, 56, 203);
    font-family:Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
    line-height: 50px;
    width: 400px;
    transform: scale(1);
} 
.startButton.active{
    top: 0;
    left: 84vw;
    transition: .6s linear;
    transform: scale(.3);
}
.finish{
    color: rgb(230, 23, 85);
    letter-spacing: 2px;
    font-size: 22px;
    position: absolute;
    width: 700px;
    text-align: center;
    line-height: 150px;
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    opacity: 0;
    
}
.finish.active{
    opacity: 1;
    transition: .3s 31s linear;
}

.instruction{
    background-color: rgb(219, 255, 253);
    text-transform: uppercase;
    color: rgb(233, 56, 203);
    font-family:Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    outline: none;
    cursor: pointer;
    border-radius: 8px;
    line-height: 40px;
    width: 150px;
    font-size: 13px;
    margin: 30px;
    transform: scale(1);
    transition: .2s linear;
}
.instruction:hover{
transform: scale(1.1);
background-image: linear-gradient(to top,  #aed7fd 0%, rgb(219, 255, 253) 100%);
}
.photo{
    width: 900px;
    height: auto;
}

.notes{
    font-size: 33px;
    position: relative;
    z-index: 1;
    height: 100vh;
    width: 100vw;
    display: none;
    color: red;
    justify-content: center;
    align-items: flex-start;
}
    .bcg--notes{
        position: relative;
    }
.photo__text{
    text-align: center;
    position: absolute;
    word-spacing: 2px;
    width: 544px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: calc(50% - 100px);
    left: calc(50% - 272px);
    margin-bottom: 3rem;
}
.photo__text i {
    position: static;
}
.notes.active{
    display: flex;
    transition: .3s linear;
}
